### Java ###
*.class
*.jar
*.war
*.ear

# Diretórios comuns de build
/target/
/build/

# Logs
*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Arquivo de configuração sensível ###
src/main/resources/application.properties

